# Classification and Clustering Exercises

<h1 style="color:blue">Delete this cell and the cells for any unused problems before submitting.</h1>.

# Heading 1
## Heading 2
### Heading 3
#### Heading 4

*Italics*

**Bold**

A List:
 - Item 1
  - sub-item 1.1
  - sub-item 1.2
 - Item 2

A link to an external website:

[A Live Share Tutorial](https://www.youtube.com/watch?v=xwVQlFFre6Q)

**Authors:**

- Author 1
- Author 2
- Author 3

## Problem 1: Predicting Personnel Attrition at IBM

Use the data provided to predict which employees will leave the company (attrition).

Compare the following models:
- Logistic Regression
- Boosted Tree

[feature documentation (and more)](https://inseaddataanalytics.github.io/INSEADAnalytics/groupprojects/January2018FBL/IBM_Attrition_VSS.html)

In [1]:
import pandas as pd

In [2]:
ibm_df = pd.read_csv('https://raw.githubusercontent.com/shantanu1109/IBM-HR-Analytics-Employee-Attrition-and-Performance-Prediction/refs/heads/main/DATASET/IBM-HR-Analytics-Employee-Attrition-and-Performance-Revised.csv')
ibm_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,College,Life Sciences,Medium,Female,...,Excellent,Low,0,8,0,Bad,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,Below College,Life Sciences,High,Male,...,Outstanding,Very High,1,10,3,Better,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,College,Other,Very High,Male,...,Excellent,Medium,0,7,3,Better,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,Master,Life Sciences,Very High,Female,...,Excellent,High,0,8,3,Better,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,Below College,Medical,Low,Male,...,Excellent,Very High,1,6,3,Better,2,2,2,2

### Import packages

### Inspect Data and Pre-process data

- Are there missing data?
- Which features should be encoded and how should they be encoded?
- How are you processing the numerical data?

### Modeling

- Which models will you be comparing?
- What hyper-parameters will you be tuning?

### Assessment

 - How will you compare performance between these models?
 - Which classification metrics are most important for this problem?
 - Which features are most important to identify employees at risk of leaving the company?
 - In a business setting, how might this analysis be used?

### Problem 2: Predicting Obesity

Use the provided data to predict obesity type (NObeyesdad).

Compare the following model types:
 - Decision Tree
 - Random Forest

[feature documentation]('https://archive.ics.uci.edu/dataset/544/estimation+of+obesity+levels+based+on+eating+habits+and+physical+condition')

### Import packages

### Inspect Data and Pre-process data

- Are there missing data?
- Which features should be encoded and how should they be encoded?
- How are you processing the numerical data?

In [3]:
obesity_df = pd.read_csv('https://raw.githubusercontent.com/pymche/Machine-Learning-Obesity-Classification/refs/heads/master/ObesityDataSet_raw_and_data_sinthetic.csv')
obesity_df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

### Modeling

- Which models will you be comparing?
- What hyper-parameters will you be tuning?

### Assessment

 - How will you compare performance between these models?
 - Which classification metrics are most important for this problem?
 - Which features are informative risk factors for obesity?
 - In a medical/public health setting, how might this analysis be used?

## Problem 3: Predicting Hotel Reservation Cancellations

Use the provided data to predict which reservations are likely to be cancelled.

Compare the following model types.
- Random Forests
- Boosted Tree (GradientBoostingClassifier)

### Import packages

### Inspect Data and Pre-process data

- Are there missing data?
- Which features should be encoded and how should they be encoded?
- How are you processing the numerical data?

In [4]:
hotel_df = pd.read_csv('https://raw.githubusercontent.com/aakashsyadav1999/Hotel-Reservations-Dataset-mlflow/refs/heads/main/notebook/data/Hotel%20Reservations.csv')
hotel_df.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

### Modeling

- Which models will you be comparing?
- What hyper-parameters will you be tuning?

### Assessment

 - How will you compare performance between these models?
 - Which classification metrics are most important for this problem?
 - Which features are most predictive of reservations that will be cancelled?
 - In a business setting, how might this analysis be used?

## Problem 4: Consumer Demographics and Predicting Marketing Efficacy

Use the provided data to predict whether customers responded to a marketing campaign.

Compare the following model types.

 - KNN
 - Random Forest
 
[feature documentation]('https://www.kaggle.com/datasets/vishakhdapat/customer-segmentation-clustering')

### Import packages

### Inspect Data and Pre-process data

In [5]:
marketing_df = pd.read_csv('https://raw.githubusercontent.com/krishna-aditi/customer-segmentation-and-profiling/refs/heads/main/marketing_campaign.csv', sep = '\t')
marketing_df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

### Assessment

 - How will you compare performance between these models?
 - Which features are most predictive of whether a customer will respond to a campaign?
 - In a business setting, how might this analysis be used?

## Problem 5: Classifying Pokemon Types

Use the Pokemon attribute data to cluster/classify Pokemon into types. Do not include the columns primary_type or secondary_type in the fields used for clustering.

You may either cluster the data to see if there are intrinsic groupings that align with the assigned class OR use KNN to create a class predictor.
You should use PCA for dimensionality reduction.

- PCA
- K-Means or KNN

### Import packages

In [6]:
poke_df = pd.read_csv('https://raw.githubusercontent.com/cristobalmitchell/pokedex/refs/heads/main/data/pokemon.csv', sep = '\t', encoding='utf-16')
poke_df.head()

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
0,1,I,Bulbasaur,Fushigidane,grass,poison,Seed PokÃ©mon,88.14,11.86,0.7,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,There is a plant seed on its back right from t...
1,2,I,Ivysaur,Fushigisou,grass,poison,Seed PokÃ©mon,88.14,11.86,1.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,"When the bulb on its back grows large, it appe..."
2,3,I,Venusaur,Fushigibana,grass,poison,Seed PokÃ©mon,88.14,11.86,2.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,Gigantamax Venusaur,Mega Venusaur,NaN,Its plant blooms when it is absorbing solar en...
3,4,I,Charmander,Hitokage,fire,NaN,Lizard PokÃ©mon,88.14,11.86,0.6,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,It has a preference for hot things. When it ra...
4,5,I,Charmeleon,Lizardo,fire,NaN,Flame PokÃ©mon,88.14,11.86,1.1,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,"It has a barbaric nature. In battle, it whips ..."

### Inspect Data and Pre-process data

 - Once you've applied PCA with no hyper-parameters, inspect the pca.explained_variance_ or pca.singular_values_. How many pca features should you keep?
 - Re-run (in a new cell) the PCA with the hyper-parameter n_components.

### Modeling

### Assessment

- How are you assessing your classification/clustering?
- What does this tell you about the design of the Pokemon game?